@import 'variables';
@import 'common';
@import 'text_limit';

.article-item {
  margin-bottom: 60rpx;
  display: flex;

  &__cover {
    width: 192rpx;
    height: 112rpx;
    margin-top: 8rpx;
    margin-right: 32rpx;
    flex-shrink: 0;
    background-color: #f6f6f6;
  }

  &__right {
    flex-grow: 1;
  }

  &__title {
    font-size: 34rpx;
    color: #121212;
    font-weight: 500;
    font-weight: 500;
    margin-bottom: 26rpx;
  }

  &__footer {
    font-size: 24rpx;
    color: #a8a8a8;
  }

  &__left {
    flex-grow: 1;
    justify-content: flex-start;
    margin-right: 40rpx;
  }

  &__avatar {
    width: 40rpx;
    height: 40rpx;
    margin-right: 8rpx;
    border-radius: 50%;
  }

  &__bold {
    font-weight: 500;
  }

  &__time {
    margin-left: 40rpx;
  }

  &__shrink {
    flex-shrink: 0;
  }
}
