@import 'variables';
@import 'fix_bottom';

.u-container-cover {
  right: 0;
  top: 0;
  bottom: 0;
}

.catalog {
  position: fixed;
  z-index: 5;
  left: 100%;
  transition: left .28s;

  &.is-show {
    left: 0;
  }

  &.is-show &__mask {
    opacity: 1;
    visibility: visible;
  }

  &__bottom {
    z-index: 5;
  }

  &__bottom.has-safe-padding {
    padding-bottom: $safe-padding-bottom;
  }

  &__height {
    height: 96rpx;
  }

  &__mask {
    position: fixed;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .1);
    opacity: 0;
    visibility: hidden;
  }

  &__main {
    position: absolute;
    z-index: 2;
    top: $nav-content-height;
    bottom: 0;
    right: 0;
    width: 64%;
    background-color: #fff;
    font-size: 32rpx;
    color: $title-black;
  }

  &__title {
    padding: 20rpx 60rpx;
    font-size: 36rpx;
    color: $black;
  }

  &__item {
    padding: 30rpx 60rpx;
  }

  &__item--hover {
    background-color: #F9F9F9;
  }
}
