@import 'variables';
@import 'mixins';
@import 'content';
@import 'shared_center';
@import 'fix_bottom';
@import 'page_loading';
@import 'modal';

.article {
  background-color: $white;

  &--title {
    font-size: 48rpx;
    padding: 60rpx 60rpx 0;
    color: #121212;
    font-weight: 500;
  }

  &--time {
    margin: 24rpx 0 60rpx;
    font-size: 28rpx;
    color: #a8a8a8;
  }

  &--foreword {
    margin-bottom: 48rpx;
    color: #7d7d7d;
    line-height: 1.6;
    font-size: 30rpx;
  }
}

.article-metadata {
  padding-left: 60rpx;
  margin: 32rpx 0 2rpx;

  &__scroll {
    width: 100%;
  }

  &__items {
    display:inline-block;
    min-width: calc(100% - 60rpx);
    font-size: 0;
    padding: 24rpx 0;
    background-color: #f9f9f9;
    white-space: nowrap;
  }

  &__item {
    display: inline-block;
    font-size: 28rpx;
    padding: 0 20rpx;
    margin-right: 40rpx;
    border-left: 2rpx solid #e7e7e7;

    &:first-child {
      border-left: none;
    }
  }

  &__key {
    color: #a8a8a8;
  }

  &__value {
    color: #121212;
  }
}

.article-author {
  padding: 44rpx 24rpx 44rpx 36rpx;
  border: 2rpx solid #e7e7e7;

  &__container {
    padding: 80rpx 60rpx 0 60rpx;
  }

  &__left {
    flex-grow: 1;
    justify-content: flex-start;
  }

  &__avatar {
    @include set-avatar-width(100rpx);
    margin-right: 20rpx;
    flex-shrink: 0;

    &.column {
      border-radius: 0;
    }
  }

  &__name {
    font-size: 36rpx;
    font-weight: 500;
    color: #121212;
  }

  &_desc {
    margin-top: 6rpx;
    font-size: 28rpx;
    color: #a8a8a8;
  }

  &__enter {
    @include set-avatar-width(60rpx);
    flex-shrink: 0;
    margin-left: 28rpx;
  }
}

.article-shared {
  &__content {
    padding: 12rpx 28rpx 0;
    color: #121212;
  }

  &__title {
    font-size: 28rpx;
    font-weight: 500;
  }

  &__cover--mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($black, .3);
  }

  &__logo {
    position: absolute;
    top: 24rpx;
    left: 28rpx;
    width: 90rpx;
    height: 32rpx;
  }

  &__cover,
  &__cover--mask {
    width: 100%;
    height: 228rpx;
  }
}

.insight-authority {
  margin-top: 40rpx;
  position: relative;

  &__wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 0 40rpx;
    border: 2rpx dashed #ddd;
    color: $black;
    text-align: center;
    position: relative;
  }

  &__title {
    font-size: 44rpx;
    font-weight: 500;
    position: relative;
    text-align: center;
    top: 32rpx;
    z-index: 1;
  }

  &__tip {
    background-color: #fff;
  }

  &__tip::before,
  &__tip::after {
    content: '';
    width: 12rpx;
    height: 12rpx;
    background-color: #ddd;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: -6rpx;
  }

  &__tip::before {
    margin-right: 50rpx;
  }

  &__tip::after {
    margin-left: 50rpx;
  }

  &__content {
    font-size: 32rpx;
    line-height: 1.88;
    margin-top: 70rpx;
  }

  &__btn {
    display: inline-block;
    margin: 50rpx 0 44rpx;
    padding: 0 56rpx;
    font-size: 32rpx;
    color: #fff;
    background-color: #eb2835;
  }

  button {
    padding: 0 56rpx;
  }
}

.document-modal {
  padding: 0 96rpx 50rpx;
  text-align: center;

  &__link {
    padding: 20rpx 120rpx;
    display: inline-block;
    background-color: #121212;
    color: #fff;
    font-size: 28rpx;
  }

  &__no {
    font-size: 28rpx;
    color: #a8a8a8;
    margin-top: 20rpx;
  }
}
