@import 'variables';
@import 'content';
@import 'fix_bottom';

page {
  background-color: $white;
}

.article {
  padding: 0 40rpx;
  background-color: $white;
  padding-bottom: 100rpx;
  min-height: 100vh;

  .title {
    font-size: 44rpx;
    line-height: 60rpx;
    color: $black;
    margin-top: 40rpx;
    margin-bottom: 24rpx;
    font-weight: 500;
  }

  .info {
    display: flex;
    margin-bottom: 40rpx;

    .left {
      display: flex;
      flex: 2;
      vertical-align: middle;

      .avatar {
        display: inline-block;
        height: 40rpx;
        width: 40rpx;
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid $bg-white;

        image {
          width: 100%;
          height: 100%;
        }
      }

      .author {
        display: inline-block;
        margin-left: 20rpx;
        margin-right: 16rpx;
        font-size: 28rpx;
        line-height: 40rpx;
        vertical-align: middle;
      }

      .copyright {
        display: inline-block;
        font-size: 24rpx;
        background-color: $red;
        line-height: 36rpx;
        color: $white;
        padding-right: 18rpx;
        padding-left: 18rpx;
        border-radius: 20rpx;
        font-weight: 300;
        height: 36rpx;
        margin-top: 2rpx;
      }
    }

    .right {
      display: inline-block;
      text-align: right;
      flex: 1;
      color: $light_gray;
      font-size: 28rpx;
      vertical-align: middle;
    }
  }
}

.related_nodes {
  background-color: $background-color;

  .title {
    font-size: 28rpx;
    color: $black;
    padding: 0 40rpx;
    margin: 48rpx 0 20rpx;
  }

  scroll-view {
    display: flex;
    white-space: nowrap;

    .node_card:first-child {
      margin-left: 40rpx;
    }

    .node_card:last-child {
      margin-right: 40rpx;
    }
  }

  .node_card {
    background-color: $white;
    padding: 20rpx 130rpx 28rpx 32rpx;
    display: inline-block;
    margin-right: 32rpx;
    position: relative;
    min-width: 180rpx;
    vertical-align:middle;

    &.can_click::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border: 14rpx solid transparent;
      border-top-color: $red;
      border-right-color: $red;
    }

    .top {
      margin-bottom: 18rpx;

      .zh_name {
        font-size: 36rpx;
        color: $black;
        vertical-align: middle;
        margin-right: 16rpx;
        display: inline-block;
      }

      .type {
        font-size: 20rpx;
        color: $light_gray;
        background-color: $background_gray;
        vertical-align: middle;
        display: inline-block;
        padding: 4rpx 10rpx;
      }
    }

    .en_name {
      font-size: 28rpx;
      color: $light_gray;
      line-height: 40rpx;
    }
  }
}
