@import 'variables';
@import 'load_more';
@import 'mixins';

page {
  background-color: #fff;
}

.document-item {
  height: 282rpx;
  margin: 70rpx 0;
  align-items: flex-end;

  &__height {
    height: 100%;
  }

  &__cover {
    flex-shrink: 0;
    width: 188rpx;
    height: 272rpx;
    border: 2rpx solid #e7e7e7;
    margin-right: 32rpx;
  }

  &__body {
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 68rpx;
  }

  &__title {
    font-size: 34rpx;
    font-weight: 500;
    color: #121212;
    margin-bottom: 28rpx;
  }

  &__desc {
    font-size: 28rpx;
    color: #a8a8a8;
  }

  &__time {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #a8a8a8;
    font-size: 24rpx;
  }
}

.content-container {
  height: 100%;
  box-sizing: border-box;
}

.content--list {
  padding: 0 40rpx;
}
