@import 'variables';
@import 'load_more';
@import 'has_tabbar';
@import 'u_tab_in_header';

page {
  background-color: #fff;
}

.article-nav {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 2rpx 40rpx 3rpx;
  z-index: 10;

  &__height {
    height: 140rpx;
  }
}

.content--list {
  padding: 0 40rpx;
}
