@import 'variables';
@import 'fix_bottom';

.daily {
  &__container {
    padding: 40rpx 60rpx;
    background-color: #fff;
  }

  &__title {
    font-size: 44rpx;
    color: $black;
    text-align: center;
  }

  &__hr {
    margin: 40rpx auto;
    width: 100rpx;
    border: 4rpx solid $black;
  }

  &__create {
    text-align: center;
    font-size: 28rpx;
    color: $mute-black;
  }

  &__content {
    margin-top: 40rpx;
    color: $title-black;
    font-size: 32rpx;
    line-height: 1.8;
  }
}
