@import 'variables';
@import 'fix_bottom';

page {
  background-color: $background_color;
}

.daily {
  &__container {
    padding: 40rpx 60rpx 100rpx;
    background-color: #fff;
  }

  &__title {
    font-size: 44rpx;
    font-weight: 500;
    color: $black;
    text-align: center;
  }

  &__hr {
    margin: 40rpx auto;
    width: 100rpx;
    border: 4rpx solid $black;
  }

  &__create {
    text-align: center;
    font-size: 28rpx;
    color: $mute-black;
  }

  &__content {
    margin-top: 40rpx;
    color: $title-black;
    font-size: 32rpx;
    line-height: 1.8;
  }

  &__source {
    margin-top: 28rpx;
    color: $secondary-black;
    font-size: 28rpx;
    display: flex;
    align-items: center;
  }

  &__source--img {
    width: 32rpx;
    height: 32rpx;
    margin-right: 8rpx;
  }

  &__source--link {
    padding: 0 6rpx;
    background-color: $bg-white;
    color: $mute-black;
  }
}
