@import 'variables';
@import 'fix_bottom';
@import 'shared_center';
@import 'page_loading';

.daily {
  &__container {
    padding-top: 64rpx;
    background-color: #fff;
  }

  &__title {
    font-size: 44rpx;
    font-weight: 500;
    color: #121212;
  }

  &__create {
    font-size: 28rpx;
    color: #a8a8a8;
    margin: 28rpx 0 60rpx;
  }

  &__content {
    color: $title-black;
    font-size: 32rpx;
    line-height: 1.75;
    white-space: pre-line;
  }

  &__source {
    margin-top: 34rpx;
    font-size: 28rpx;
    color: $secondary-black;
    display: flex;
    align-items: center;
  }

  &__source--img {
    width: 32rpx;
    height: 32rpx;
    margin-right: 8rpx;
  }

  &__source--link {
    padding: 0 6rpx;
    background-color: $bg-white;
    color: $mute-black;
  }
}

.daily-shared {
  &__header {
    position: relative;
    font-size: 0;
    color: #fff;
  }

  &__logo,
  &__title,
  &__time {
    position: absolute;
    left: 28rpx;
  }

  &__logo {
    position: absolute;
    top: 24rpx;
    left: 28rpx;
    width: 90rpx;
    height: 32rpx;
  }

  &__title {
    bottom: 46rpx;
    right: 28rpx;
    font-size: 28rpx;
    font-weight: 500;
  }

  &__time {
    bottom: 14rpx;
    font-size: 20rpx;
    color: #f2f2f2;
  }

  &__cover {
    display: block;
    width: 100%;
    height: 228rpx;
  }

  &__content {
    padding: 12rpx 28rpx 0;
  }
}
