@import 'variables';
@import 'mixins';
@import 'common';
@import 'modal';

.picker {
  &--container {
    margin-left: -30rpx;
  }

  &--item {
    box-sizing: border-box;
    width: 50%;
    padding-left: 30rpx;
  }
}

.form {
  &--input {
    border-radius: 4rpx;
    border: 2rpx solid #f2f2f2;
    padding: 12rpx 34rpx;
    font-size: 28rpx;
    color: #121212;

    &.t-picker {
      line-height: 1.8;
    }
  }

  &--label {
    font-size: 28rpx;
    color: #414141;
    margin: 40rpx 0 28rpx;
  }

  &--button__container {
    margin: 120rpx 66rpx;
  }

  &--button {
    display: block;
    padding: 24rpx 0;
    width: 100%;
    border-radius: 0;
    line-height: 1;
    text-align: center;
    background-color: #121212;
    font-size: 32rpx;
    font-weight: 500;
    color: #fff;
  }
}

.auth {
  padding: 0 40rpx;
  display: block;
  box-sizing: border-box;

  &--title {
    margin-top: 60rpx;
    font-size: 44rpx;
    font-weight: 500;
    color: #121212;
  }

  &--desc {
    margin: 8rpx 0 20rpx;
    font-size: 32rpx;
    color: #a8a8a8;
  }

  &--tip {
    margin-top: 60rpx;
    font-size: 26rpx;
    color: #a8a8a8;
    text-align: center;
  }

  &--step1 {
    height: 238rpx;
    width: 100%;
    display: block;
    margin-top: 80rpx;
  }
}

.is-hidden {
  display: none;
}

.auth-modal {
  &__header {
    padding: 0 96rpx;
    text-align: center;
  }

  &__footer {
    padding: 30rpx 40rpx 50rpx;
  }

  &__switch {
    border-top: 2rpx solid #f2f2f2;
    padding: 40rpx 0 36rpx;
    font-size: 32rpx;
    color: #121212;
  }

  &__user {
    justify-content: flex-start;
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 30rpx;
    width: 70rpx;
    height: 70rpx;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  &__name {
    font-size: 30rpx;
    font-weight: 500;
    color: #282828;
  }

  &__pro {
    padding: 2rpx 6rpx;
    margin-left: 10rpx;
    font-size: 24rpx;
    color: #fff;
    background-color: $red;
    line-height: 1;
  }

  &__post {
    font-size: 24rpx;
    font-weight: normal;
    color: #a8a8a8;
  }
}
