@import '../style/card';

.article {
  &--flex {
    display: flex;
    align-items: center;
  }

  &--bottom {
    justify-content: space-between;
    color: $mute-black;
    font-size: 28rpx;
  }

  &--left {
    flex-grow: 1;
  }

  &--avatar {
    width: 40rpx;
    height: 40rpx;
    margin-right: 12rpx;
    border-radius: 50%;
  }

  &--category {
    flex-shrink: 0;
    margin-left: 20rpx;
    padding: 2rpx 12rpx;
    background-color: $bg-white;
  }

  &--author {
    color: $secondary-black;
    margin-right: 24rpx;
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--time {
    flex-shrink: 0;
  }
}
