@import 'variables';
@import 'mixins';
@import 'load_more';


.content-container {
  height: 100%;
  box-sizing: border-box;
}

.author {
  &--container {
    padding: 60rpx 40rpx;
    border: 2rpx solid $bg-white;
    align-items: flex-start;
  }

  &--avatar {
    @include set-avatar-width(136rpx);
    margin-right: 40rpx;
    flex-shrink: 0;

    &.column {
      border-radius: 0;
    }
  }

  &--right {
    flex-grow: 1;
  }

  &--name {
    font-weight: 36rpx;
    font-weight: 500;
    color: #121212;
  }

  &--share {
    width: 56rpx;
    height: 56rpx;
  }

  &--desc {
    margin-top: 20rpx;
    font-size: 28rpx;
    color: #121212;
  }
}

.author-article {
  padding: 40rpx;

  &__count {
    font-size: 32rpx;
    margin-bottom: 40rpx;
    color: #a8a8a8;
  }

  &__highlight {
    font-weight: 500;
    color: #121212;
  }

  &__item {
    margin-bottom: 60rpx;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 36rpx;
    color: #121212;
  }

  &__footer {
    margin-top: 24rpx;
    font-size: 28rpx;
    color: #a8a8a8;
  }
}

.author-shared {
  &__canvas {
    width: 100%;
    position: absolute;
    left: 10000rpx;
  }

  &__header {
    padding: 4rpx 26rpx 0 26rpx;
    height: 64rpx;
    overflow: visible;
    position: relative;
  }

  &__avatar {
    @include set-avatar-width(128rpx);
    position: absolute;
    bottom: 0;
    left: 26rpx;

    &.column {
      border-radius: 0;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 28rpx;
    color: $black;
    margin-left: 180rpx;
  }

  &__desc {
    margin: 20rpx 0 24rpx;
    padding: 0 40rpx;
    font-size: 24rpx;
    font-weight: 300;
    line-height: 1.5;
    color: $black;
  }
}
