@import 'variables';
@import 'content';
@import 'node';

.node-header__container {
  padding-top: 60rpx;
  padding-bottom: 80rpx;
  box-shadow: none;
}

.node {
  &--detail {
    font-size: 32rpx;
    color: #121212;
  }

  &--footer {
    margin-top: 32rpx;
  }

  &--shared {
    width: 56rpx;
    height: 56rpx;
  }
}

.node-trend {
  padding: 80rpx 40rpx 0 40rpx;

  &__title {
    font-size: 32rpx;
    font-weight: 500;
    color: #121212;
  }

  &__item {
    margin-top: 40rpx;
  }

  &__name {
    font-size: 36rpx;
    font-weight: 500;
    color: #121212;
  }

  &__footer {
    margin: 24rpx 0 20rpx;
    color: #a8a8a8;
    font-size: 28rpx;
  }

  &__type {
    margin-right: 40rpx;
  }
}
