.u-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u-tab-title {
  padding: 0 20px;
  margin-top: 30rpx;
  font-size: 60rpx;
  font-weight: 500;
  color: #121212;
}
