.content {
  font-size: 32rpx;

  .wxParse-mark {
    background-color: transparent;
    color: inherit;
  }

  .wxParse-p {
    font-size: 32rpx;
    line-height: 1.8;
    text-align: left;
    color: $title-black;
    margin: 48rpx 0;
  }

  .wxParse-p:first-child {
    margin-top: 0;
  }

  .wxParse-p:last-child {
    margin-bottom: 0rpx;
  }

  .wxParse-h1 {
    font-size: 40rpx;
    font-weight: 600;
    color: $black;
  }

  .wxParse-h2 {
    font-size: 38rpx;
    font-weight: 600;
    color: $black;
    margin: 50rpx 0 20rpx;
  }

  .wxParse-h3 {
    font-size: 36rpx;
    font-weight: 600;
    color: $black;
    margin: 48rpx 0 16rpx;
  }

  .wxParse-iframe {
    max-width: 100%;
  }

  .wxParse-h4 {
    font-size: 34rpx;
    font-weight: 600;
    color: $black;
    margin: 10rpx 0 12rpx;
  }

  .wxParse-h5 {
    font-size: 32rpx;
    font-weight: normal;
    line-height: 1.14;
    color: $secondary-black;
    margin: 20rpx 0;
  }

  .wxParse-blockquote {
    padding: 20rpx;
    margin: 0;

    .wxParse-p {
      margin-top: 0;
      font-size: 30rpx;
    }

    .wxParse-p:last-child {
      margin-bottom: 0;
    }
  }

  .wxParse-pre {
    margin: 22rpx -22rpx;
    background-color: $bg-white;
    padding: 20rpx 40rpx 40rpx;
    color: $mute-black;
    overflow-x: auto;
  }

  .wxParse-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .wxParse-a {
    color: $title-black;
  }

  .wxParse-ul {
    margin: 0;
  }

  .wxParse-li {
    margin: 20rpx 0;
  }

  .wxParse-li-inner {
    margin: 0;
    width: 100%;

    .wxParse-li-text {
      flex: 18;
      line-height: 44px;
    }

    .wxParse-li-text:first-child {
      flex: 1;
    }
  }

  .wxParse-li-text .wxParse-p {
    margin: 0;
  }

  .wxParse-i, .wxParse-em {
    font-style: normal;
    color: $secondary-black;
  }
}
