@import 'common';

.u-fix-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 96rpx;
  background-color: #fff;
  color: $black;
  font-weight: 500;
  font-size: 30rpx;
  box-shadow: 0 -2rpx 0 0 #EEEEEE;
  @extend .u-flex;

  &--bar {
    @extend .u-flex;
    justify-content: center;
    flex: 1;
     height: 100%;
    line-height: 96rpx;
    padding: 0 20rpx;
    font-size: 30rpx;
    font-weight: 500;

    &.is-disabled {
      color: $mute-black;
    }
  }

  &--icon {
    width: 32rpx;
    height: 32rpx;
    margin-right: 8rpx;
  }
}
