.modal {
  z-index: 2;

  &__img {
    display: block;
    width: 100%;
    height: 254rpx;
  }

  &__title {
    margin-top: 40rpx;
    font-size: 40rpx;
    font-weight: 500;
    color: #121212;
  }

  &__desc {
    margin: 10rpx 0 0;
    margin-bottom: 20rpx;
    font-size: 30rpx;
    color: #a8a8a8;
  }
}
