.u-flex {
  display: flex;
  justify-content: space-between;
}

.node-header {
  border-bottom: 2rpx solid $bg-white;
  padding: 60rpx 40rpx;

  &__full {
    font-size: 44rpx;
    color: $black;
    margin-bottom: 20rpx;
  }

  &__en {
    font-size: 28rpx;
    color: $secondary-black;
    margin-bottom: 28rpx;
  }

  &__website {
    color: $title-black;
    font-size: 28rpx;
    margin-bottom: 24rpx;
  }

  &__link {
    display: inline-block;
  }

  &__avatar {
    width: 160rpx;
    height: 160rpx;
    margin: 0 0 20rpx 70rpx;
  }

  &__summary {
    margin-bottom: 40rpx;
    color: $title-black;
    font-size: 32rpx;
  }

  &__origins {
    color: $secondary-black;
    font-size: 28rpx;
  }

  &__origin {
    border-bottom: 2rpx dashed $red;
    background-color: transparent;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 28rpx;
    }
  }
}

.node-technology {
  color: $title-black;
  font-size: 28rpx;
  margin: 40rpx 0 -20rpx;

  &__item {
    padding: 4rpx 16rpx;
    background-color: $bg-white;
    color: $secondary-black;
    margin-right: 20rpx;
    margin-bottom: 20rpx;
    display: inline-block;
  }

  &__avatar {
    width: 160rpx;
    height: 160rpx;
    margin-left: 70rpx;
  }
}

.node-block {
  padding: 60rpx 40rpx 0;

  &__header {
    border-bottom: 2rpx solid $bg-white;
    margin-bottom: 40rpx;
  }

  &__title {
    display:inline-block;
    border-bottom: 4rpx solid $red;
    color: $black;
    font-weight: 600;
    font-size: 40rpx;
  }
}

.node-block:first-child {
  margin-top: 60rpx;
}

.node-block:last-child {
  margin-bottom: $safe-padding-bottom;
}

.node-expert {
  display: flex;
  margin: 40rpx 0 0;

  &__avatar {
    height: 120rpx;
    width: 120rpx;
    margin-right: 28rpx;

    image {
      width: 100%;
      height: 100%;
    }
  }

  &__right {
    flex-grow: 1;
  }

  &__name {
    margin-bottom: 20rpx;
    font-size: 36rpx;
    color: $black;
    font-weight: 500;
  }

  &__extra-name {
    color: $title-black;
    font-size: 32rpx;
  }
}

.node-institution {
  padding-bottom: 60rpx;

  &__title {
    color: $black;
    font-size: 30rpx;
    margin: 20rpx 0;
    display: block;
  }

  &__list-circle {
    color: $secondary-black;
  }
}
