.shared-center {
  &__commentstr {
    font-size: 24rpx;
    margin: 24rpx 0;
    padding: 0 10rpx;
  }

  &__commment {
    padding-top: 24rpx;
    overflow: visible;
    font-size: 0;
  }

  &__quot {
    &.t-small {
      width: 30rpx;
      height: 26rpx;
    }

    &.t-large {
      width: 40rpx;
      height: 34.6rpx;
    }

    &.t-left {
      margin-left: -4rpx;
      margin-bottom: 4rpx;
    }

    &.t-right {
      margin-right: -4rpx;
    }

    &.t-small.t-right {
      margin-top: 4rpx;
    }

    &.t-large.t-right {
      margin-top: -20rpx;
    }
  }

  &__right {
    text-align: right;
    overflow: visible;
  }

  &__textarea {
    background-color: $bg-white;
    font-size: 40rpx;
    color: $mute-black;
    text-align: center;
    padding: 60rpx;
  }

  &__opion {
    width: 32rpx;
    height: 32rpx;
    margin-right: 18rpx;
  }

  &__user {
    position: absolute;
    margin-left: 8rpx;
    margin-top: -16rpx;
  }

  &__avatar {
    width: 24rpx;
    height: 24rpx;
    margin-right: 10rpx;
    border-radius: 50%;
  }

  &__username {
    font-size: 20rpx;
    color: $secondary-black;
  }

  &__center {
    text-align: center;
  }

  &__qrcode {
    width: 128rpx;
    height: 128rpx;
    margin-top: 10rpx;
  }

  &__tip {
    color: #7d7d7d;
    margin: 22rpx 0 32rpx;
    font-size: 24rpx;
  }

  &__canvas {
    width: 100%;
    position: absolute;
    left: 10000rpx;
    top: 0;
  }
}
