$black: #282828;
$secondary-black: #717171;
$mute-black: #9d9d9d;
$title-black: #414141;
$bg-white: #f2f2f2;
$white: #fff;
$background_color: #f6f6f6;
$gray: #717171;
$red: #EB2835;
$light_gray: #999;
$background_gray: #e2e2e2;
$grass: #44a92f;
$safe-padding-bottom: 68rpx;
$setting-header: 98rpx;
$nav-content-height: 98rpx;
$chatbot-bottom-height: 188rpx;
$catalog-height: 96rpx;
