@import 'variables';
@import 'mixins';
@import 'none';
@import 'common';

.u-container-cover {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.comment {
  padding: 0 60rpx 96rpx;

  &.t-small {
    padding: 0 40rpx 96rpx;
  }

  &__title {
    color: #121212;
    font-weight: 500;
    font-size: 28rpx;
    padding: 80rpx 0 20rpx;
  }

  &__item {
    padding-left: 35rpx;
    margin-bottom: 30rpx;
  }
}

.comment-inline {
  margin-bottom: 20rpx;
  font-size: 30rpx;

  &:last-child .comment-inline__body {
    border-color: transparent;
  }

  &__body {
    padding-left: 64rpx;
    padding-bottom: 10rpx;
    border-left: 4rpx solid $bg-white;
  }

  &__content {
    font-size: 30rpx;
    line-height: 1.6;
    color: $title-black;
    margin: 20rpx 0 30rpx;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    color: $mute-black;
    font-size: 28rpx;
  }

  &__reply {
    color: #121212;
  }

  &__header {
    display: flex;
  }

  &__user {
    color: $mute-black;
  }

  &__pubinfo {
    color: #a8a8a8;
    font-size: 24rpx;
  }

  &__pro {
    display: inline-block;
    padding: 0 6rpx 4rpx;
    margin-left: 10rpx;
    font-size: 24rpx;
    color: #fff;
    background-color: $red;
    line-height: 1;
  }

  &__from {
    color: $black;
    font-weight: 500;
  }

  &__link {
    display: block;
  }

  &__avatar {
    @include set-avatar-width(70rpx);
    flex-shrink: 0;
    margin-right: 30rpx;
  }

  &__img {
    @include set-avatar-width(70rpx);
  }

  &__hr {
    margin-right: 10rpx;
    color: $mute-black;
  }

  &__shared {
    padding: 6rpx;
    width: 26rpx;
    height: 26rpx;
    display: block;
    margin-right: 48rpx;
  }
}

.comment-more {
  margin: 20rpx 0 20rpx 60rpx;
  border-bottom: 2rpx solid $bg-white;
  padding-bottom: 10rpx;
  font-size: 28rpx;
  color: $mute-black;

  &::before {
    content: '• • •';
    position: absolute;
    margin-left: -90rpx;
    color: #d8d8d8;
  }

  &__highlight {
    color: $red;
    margin: 0 10rpx;
  }
}

.comment-editor {
  position: fixed;
  z-index: 5;

  &__mask {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .1);
  }

  &__main {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 20rpx 40rpx;
    display: flex;
    align-items: center;
    font-size: 30rpx;

    &.has-safe-padding {
      bottom: $safe-padding-bottom;
    }
  }

  &__body {
    flex-grow: 1;
    border-radius: 50rpx;
    padding: 13rpx 24rpx;
    font-size: 30rpx;
    background: #FCFAFB;
    border: 2rpx solid #E5E3E4;

    &.t-ios {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__textarea {
    width: auto;
  }

  &__submit {
    margin-left: 28rpx;
    flex-shrink: 0;
    color: $black;
  }
}

button {
  border-radius: 0;
  background-color: $white;
}

button::after {
  border-radius: 0;
  border: none;
}
