@import 'variables';
@import 'load_more';

page {
  background-color: $background-color;
}

.header-nav {
  position: fixed;
  top: $nav-content-height;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 16rpx 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(226, 225, 225, 0.50);

  &__item {
    display: inline-block;
    font-size: 36rpx;
    padding: 8rpx 34rpx;
    color: $mute-black;
    border-radius: 100rpx;
    transition: background-color .28s;

    &:last-child {
      margin-left: 40rpx;
    }

    &.is-active {
      color: $title-black;
      font-weight: 500;
      background-color: $bg-white;
    }
  }
}

.hover_button {
  position: fixed;
  width: 124rpx;
  height: 124rpx;
  bottom: 100rpx;
  right: 36rpx;

  image {
    width: 100%;
    height: 100%;
  }
}

.content-container {
  height: 100%;
  padding-top: 98rpx;
  box-sizing: border-box;
}

.content--list {
  padding: 0 40rpx;
}

.daily--list {
  padding: 0 40rpx 0 30rpx;
}

.banner {
  &--container {
    padding: 40rpx 0 0 24rpx;
    border-left: 2rpx solid #eee;
    position: relative;
  }

  &--image {
    display: block;
    height: 260rpx;
  }

  &--time {
    position: absolute;
    z-index: 2;
    bottom: 26%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 32rpx;
  }
}
