@import 'variables';
@import 'common';
@import 'u_tab_in_header';

.node-header {
  &__full {
    margin-top: 60rpx;
    font-size: 40rpx;
    font-weight: 500;
    color: #121212;
  }

  &__en {
    font-size: 28rpx;
    color: #a8a8a8;
    margin-bottom: 40rpx;
  }
}

scroll-view.u-tab {
  height: 100rpx;
  width: 100%;
  white-space: nowrap;
}

.u-tab__item {
  display: inline-block;
  margin-top: 24rpx;
}

.related {
  padding: 0 40rpx;

  &--type {
    padding: 40rpx 0;
    font-size: 32rpx;
    color: #121212;
    font-weight: 500;
    border-top: 2rpx solid #f2f2f2;
  }

  &--item {
    margin-bottom: 40rpx;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 60rpx;
    }
  }

  &--avatar  {
    flex-shrink: 0;
    margin-right: 28rpx;
    width: 100rpx;
    height: 100rpx;

    &.t-institition {
      border: 2rpx solid #e7e7e7;
    }
  }

  &--right {
    flex-grow: 1;
  }

  &--title {
    font-size: 32rpx;
    font-weight: 500;
    color: #121212;
  }

  &--desc {
    margin-top: 12rpx;
    font-size: 28rpx;
    color: #a8a8a8;
  }
}
