@import './node_header';

.u-flex {
  display: flex;
  justify-content: space-between;
}

.node-technology {
  color: $title-black;
  font-size: 28rpx;
  margin: 40rpx 0 36rpx;
  border-top: 1px solid $bg-white;

  &__item {
    padding: 4rpx 16rpx;
    background-color: $bg-white;
    color: #7d7d7d;
    margin: 20rpx 20rpx 0 0;
    display: inline-block;
  }

  &__avatar {
    width: 160rpx;
    height: 160rpx;
    margin-left: 70rpx;
  }
}

.node-block {
  padding: 80rpx 60rpx 0;
  background-color: #fff;

  &__header {
    border-bottom: 2rpx solid $bg-white;
    margin-bottom: 40rpx;
  }

  &__title {
    display: inline-block;
    border-bottom: 4rpx solid $red;
    color: $black;
    font-weight: 600;
    font-size: 40rpx;
  }

  &:last-child {
    padding-bottom: $safe-padding-bottom + 30;
  }

  &.t-first {
    padding-top: 40rpx;
  }
}
