.node-header {
  padding: 40rpx;
  background-color: $bg-white;

  &__container {
    padding: 40rpx;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(226, 225, 225, 0.22);
  }

  &__full {
    font-size: 40rpx;
    font-weight: 500;
    color: #121212;
  }

  &__en {
    font-size: 28rpx;
    color: #a8a8a8;
  }

  &__icon {
    width: 26rpx;
    height: 26rpx;
    margin-right: 10rpx;
  }

  &__website {
    margin-top: 24rpx;
    color: $title-black;
    font-size: 28rpx;
  }

  &__link {
    display: inline-block;
  }

  &__avatar {
    width: 96rpx;
    height: 96rpx;
    margin: 0 0 20rpx 70rpx;
    flex-shrink: 0;
  }

  &__summary {
    margin-top: 40rpx;
    color: #121212;
    font-size: 32rpx;
  }

  &__origins {
    margin-top: 24rpx;
    line-height: 1.57;
    color: #7d7d7d;
    font-size: 28rpx;
  }

  &__origins--tip {
    color: #121212;
  }

  &__origin {
    border-bottom: 2rpx dashed $red;
    background-color: transparent;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 28rpx;
    }
  }
}
