@import 'variables';
@import 'common';
@import 'modal';

.auth-modal {
  &__header {
    padding: 0 96rpx;
    text-align: center;
  }

  &__footer {
    padding: 30rpx 40rpx 50rpx;
  }

  &__switch {
    border-top: 2rpx solid #f2f2f2;
    padding: 40rpx 0 36rpx;
    font-size: 32rpx;
    color: #121212;
  }

  &__user {
    justify-content: flex-start;
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 30rpx;
    width: 70rpx;
    height: 70rpx;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  &__top {
    justify-content: flex-start;
  }

  &__name {
    font-size: 30rpx;
    font-weight: 500;
    color: #282828;
  }

  &__pro {
    margin-left: 10rpx;
    width: 44rpx;
    height: 24rpx;
  }

  &__post {
    font-size: 24rpx;
    font-weight: normal;
    color: #a8a8a8;
  }

  &__modify {
    margin: 60rpx auto 10rpx;
    text-decoration: underline;
    font-size: 28rpx;
    color: #121212;
    text-align: center;
  }
}
