@import 'variables';
@import 'common';

.daily-item {
  color: $secondary-black;

  &__container {
    border-left: 2rpx solid #eee;
    padding: 40rpx 0 40rpx 24rpx;
  }

  &__container.t-andriod &__tip {
    margin-top: 42rpx;
  }

  &.t-red {
    color: $red;
  }

  &.t-red &__date {
    font-weight: 500;
  }

  &.t-red &__tip--inner {
    border-color: $red;
  }

  &__tip {
    position: absolute;
    vertical-align: middle;
    margin-left: -24rpx;
    margin-top: 34rpx;
    transform: translate(-50%, -50%);
    font-size: 42rpx;
    border-radius: 50%;
    border: 6rpx solid #D8D8D8;
  }

  &__tip--inner {
    width: 10rpx;
    height: 10rpx;
    background-color: #fff;
    border: 2rpx solid $secondary-black;
    border-radius: 50%;
  }

  &__date {
    font-size: 48rpx;
    margin-bottom: 20rpx;
  }

  &__year {
    font-size: 24rpx;
    color: $title-black;
    margin-left: 16rpx;
  }

  &__inline {
    margin-bottom: 40rpx;
    padding: 36rpx 24rpx 0;
    background-color: #fff;

    &.t-topic {
      padding-bottom: 36rpx;
    }
  }

  &__title {
    font-size: 36rpx;
    color: $black;
    font-weight: 500;
  }

  &__content {
    font-size: 32rpx;
    margin: 30rpx 0 0;
    color: $title-black;
    line-height: 1.75;
    white-space: pre-line;
  }

  &__create {
    color: $mute-black;
    font-size: 28rpx;
  }

  &__action {
    color: $secondary-black;
    height: 44rpx;
    padding: 30rpx 30rpx 36rpx;
  }

  &__img {
    width: 44rpx;
    height: 44rpx;
  }
}

.daily-topic {
  &__header {
    display: flex;
    margin-top: -4rpx;
    margin-bottom: 37rpx;
  }

  &__hr {
    width: 6rpx;
    height: 32rpx;
    margin-right: 13rpx;
    background-color: $red;
    border-radius: 2rpx;
  }

  &__text {
    width: 136rpx;
    height: 32rpx;
  }
}
