@import 'variables';
@import 'common';

.daily-item {
  color: $secondary-black;
  margin-bottom: 20rpx;

  &__container {
    border-left: 3rpx solid #eee;
    padding: 40rpx 0 0 32rpx;
  }

  &.t-red {
    color: $red;
  }

  &.t-red &__inline::before {
    border-color: $red;
  }

  &.t-red &__date {
    font-weight: 500;
  }

  &.t-red &__date::before {
    background-color: $red;
  }

  &__date {
    font-size: 40rpx;
    margin-bottom: 20rpx;

    &::before {
      content: '';
      position: absolute;
      width: 20rpx;
      height: 6rpx;
      background-color: $secondary-black;
      margin-left: -32rpx;
      margin-top: 28rpx;
    }
  }

  &__inline {
    margin-bottom: 40rpx;
    padding: 36rpx 24rpx;
    background-color: #fff;

    &::before {
      content: '';
      position: absolute;
      width: 16rpx;
      height: 16rpx;
      background-color: #fff;
      border: 2rpx solid $secondary-black;
      border-radius: 50%;
      margin-left: -66rpx;
      margin-top: 25rpx;
    }
  }

  &__title {
    font-size: 36rpx;
    color: $black;
    font-weight: 500;
  }

  &__content {
    font-size: 32rpx;
    margin: 30rpx 0;
    color: $title-black;
    line-height: 1.75;
  }

  &__create {
    color: $mute-black;
    font-size: 28rpx;
  }

  &__action {
    color: $secondary-black;
  }

  &__img {
    width: 32rpx;
    height: 28rpx;
  }
}

action-sheet-item,
action-sheet-cancel {
  color: $black;
  font-size:32rpx;
}

.shared-btn {
  line-height: 1.4;
  font-size:32rpx;
  background-color: transparent;

  &::after {
    border: none;
  }
}
