@import '../trend';

.trend {
  &--title {
    padding: 0 40rpx;
    margin: 40rpx 0 60rpx;
  }

  &--list {
    padding: 0 40rpx;
  }

  &--desc {
    background-color: #f6f6f6;
    padding: 32rpx 40rpx;
    font-size: 32rpx;
    line-height: 1.75;
    color: $title-black;
  }

  &--content {
    padding: 0 40rpx;
    font-size: 32rpx;
    color: #121212;
    margin-bottom: 20rpx;
  }
}

.trend-item {
  padding-top: 60rpx;

  &__title {
    font-weight: 500;
    color: #414141;
  }

  &__author {
    color: $mute-black;
    font-size: 28rpx;
    margin-top: 24rpx;
  }

  &__desc {
    margin: 28px 0 60rpx;
  }
}
