@import 'variables';

.readlater {
  &--title {
    padding: 0 40rpx;
    margin: 60rpx 0 40rpx;
    font-size: 42rpx;
    font-weight: 500;
    color: #121212;
  }

  &--item {
    padding: 0 40rpx;
    margin: 60rpx 0;
    position: relative;

    &:first-child {
      margin-top: 50rpx;
    }
  }

  &--inline {
    background-color: #fff;
    position: relative;
    z-index: 3;

    &.is-open {
      left: 80rpx;
    }
  }

  &--btn {
    position: absolute;
    left: 0;
    top: 0;
    padding: 34rpx 40rpx;
    z-index: 0;
  }

  &--delete {
    background-color: $red;
    width: 40rpx;
    height: 40rpx;
    line-height: 30rpx;
    border-radius: 50%;
    text-align: center;
    font-size: 36rpx;
    color: #fff;
  }

  &--none {
    color: $mute-black;
    font-size: 28rpx;
    text-align: center;
    margin-top: 144rpx;
  }
}
