@import 'variables';
@import 'fix_bottom';

.daily {
  &__container {
    background-color: #fff;
    padding-left: 40rpx;
    padding-right: 40rpx;
    padding-top: 40rpx;
    overflow: hidden;
  }

  &__canvas {
    margin-bottom: 190rpx;
    width: 100%;
    border: 4rpx solid #f4f4f4;
  }
}

.save-btn {
  background-color: $black;
  color: #fff;
  text-align: center;
  margin: 19rpx 40rpx;
  padding: 28rpx 0;
  border-radius: 0;
  line-height: 1.4;

  &--container {
    height: 140rpx;
    display: block;
    background: rgba(255, 255, 255, 0.90);
  }

  &--border {
    display: block;
    width: 100%;
    height: 2rpx;
    background-color: rgba(0, 0, 0, 0.05);
  }
}
