@import 'variables';

.notice-item {
  display: flex;
  margin-bottom: 60rpx;
  padding: 0 60rpx 0 40rpx;

  &:first-child {
    margin-top: 40rpx;
  }

  &__cover {
    flex-shrink: 0;
    width: 84rpx;
    height: 84rpx;
    margin-right: 24rpx;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  &__right {
    flex-grow: 1;
    font-size: 28rpx;
    overflow: visible;
  }

  &__user {
    color: #121212;
    margin-right: 20rpx;
  }

  &__type {
    color: #a8a8a8;
  }

  &__content {
    margin-top: 4rpx;
    color: #282828;
    position: relative;
    overflow: visible;

    &.is-unread::after {
      content: '';
      position: absolute;
      left: 100%;
      margin-left: 8rpx;
      top: 8rpx;
      width: 16rpx;
      height: 16rpx;
      background-color: $red;
      border-radius: 50%;
    }
  }

  &__footer {
    margin-top: 12rpx;
    font-size: 24rpx;
    color: #a8a8a8;
    text-align: right;
  }
}
