@import 'variables';
@import 'share';
@import 'common';
@import './wxParse/wxParse.wxss';

view {
  overflow: hidden;
}

button::after {
  border: none;
}

.u-container {
  // $nav-content-height: 98rpx
  height: calc(100vh - 98rpx);
  margin-top: $nav-content-height;
  box-sizing: border-box;

  &.t-bg {
    background-color: $background_color;
  }

  swiper,
  scroll-view {
    height: 100%;
  }
}

.has-safe-padding {
  padding-bottom: $safe-padding-bottom;
}

// TODO: will delete
.container {
  height: 100vh;
  position: relative;

  &.t-bg {
    background-color: $background_color;
  }

  scroll-view {
    height: 100%;
  }
}
