@import 'variables';
@import 'share';
@import 'common';
@import './wxParse/wxParse.wxss';

view {
  overflow: hidden;
}

button::after {
  border: none;
}

.u-container {
  // $nav-content-height: 98rpx
  height: calc(100vh - 98rpx);
  margin-top: $nav-content-height;
  box-sizing: border-box;

  &.t-bg {
    background-color: $background_color;
  }

  swiper,
  scroll-view {
    height: 100%;
  }
}

.has-safe-padding {
  padding-bottom: $safe-padding-bottom;
}

// hidden scrollbar in scroll view
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

action-sheet-item,
action-sheet-cancel {
  color: $black;
  font-size: 32rpx;

  button {
    line-height: 1.4;
    font-size: 32rpx;
    background-color: transparent;
  }
}

.u-text-limit--one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
